#container {
	margin: 0px auto;
	width: 640px;
	overflow: hidden;
	}

body {
	background:#fff;
	font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .8em;
	line-height: 1.4em;
	margin:20px;
	}
	
h1 {
	font-size: 18pt;
	color:#000000;
	}

h2 {
	font-size: 14pt;
	color:#333;
	}

h3 {
	font-size: 12pt;
	color:#333;
	font-weight:normal;
	}

h4 {
	font-size: 10pt;
	color:#000000;
	font-weight:normal;
	}

h5 {
	font-size: 8pt;
	color:#000000;
	font-weight:normal;
	}

img {
	border:none;
	}
	
img a {
	border:none;
	}
	
p {
	color:#000000;
	}

a {
	text-decoration: none;
	}
	
a:link {
	color: #333;
	text-decoration: none;
	}
	
a:visited {
	color: #333;
	text-decoration: none;
	}
	
a:hover {
	color: #999;
	text-decoration: none;
	}

/* HEADER */

#header {
	height: 80px;
	}

#header .header-left {
	float: left;
	width: 50%;
	text-align: left;
	}

#header .header-right {
	float: right;
	width: 50%;
	text-align: right;
	}

#header h1 {
	padding: 5px 5px 5px 5px;
	margin:0;
	color: #333;
	font: Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	}
	
#header h2 {
	padding: 5px 5px 5px 5px;
	margin:0;
	color: #777777;
	font-size: 18pt;
	font-weight: normal;
	}
	
#header h3 {
	padding: 5px 5px 5px 5px;
	margin:0;
	color: #777777;
	font-size: 14pt;
	font-weight: normal;
	}

/* CONTENT */

#content {
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	}
	
#content a {
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	}

/* FOOTER */

#footer {
	background:#fff;
	clear: both;
	width: 100%;
	}
	
#footer p {
	padding: 10px 10px 10px 10px;
	margin: 0;
	color: #666;
	text-align:center;
	}
	
#footer a {
	color: #666;
	text-decoration: none;
	}
	
#footer a:hover {
	color: #000000;
	text-decoration: none;
	}
