<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %} | {{ settings.title }}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen, projection">
</head>
<body>

<div id="container">

<!-- HEADER -->

<div id="header">
<h1><a href="/">{{ settings.title }}</a></h1>
</div>

<!-- CONTENT -->

<div id="content">
{% block content %}{% endblock %}
</div>

<!-- SIDEBAR -->

<!--
<div id="sidebar">
<ul>      
<li><a href="http://example.com/about/">about</a></li>
<li><a href="http://example.com/best-posts/">best posts</a></li>
</ul>
</div>
-->

<!-- FOOTER -->

<div id="footer">
<p>&copy; {{ settings.author }}</p>
</div>

</div>

</body>
</html>
